doctype html
html
  head
    title= title
  body
    div(style='height:5px')
    form(action='/inbound/submit', method='post', onsubmit='return updateAuthor(this)')
      input(type='hidden', name='subject', value='Super4G Contact Form')
      input(type='hidden', name='recipient', value='super4g@dcloud.cisco.com')
      fieldset
        .headerdiv
        table(border='0', width='100%')
          tr
            td(colspan='3')  
          tr
            td
              label(for='name') Name:
            td(width='13px')  
            td
              input(type='text', name='extensionField_Name')
          tr
            td
              label(for='') Email:
            td  
            td
              input(type='text', name='extensionField_Email')
          tr
            td
              label(for='') Phone Number
            td  
            td
              input(type='text', name='extensionField_PhoneNumber')
          tr
            td
              label(for='') Address Line 1
            td  
            td
              input(type='text', name='extensionField_AddressLine1')
          tr
            td
              label(for='') Model:
            td  
            td
              input(type='text', name='extensionField_Model')
          tr
            td
              label(for='') Problem:
            td
            td
              select(name='extensionField_ccxqueuetag')
                br
                option(value='Chat_Csq3') Sales
                option(value='Chat_Csq3') Account
                option(value='Chat_Csq3') Finance
                option(value='Chat_Csq3') Recall
                option(value='Chat_Csq3') General Questions
          tr
            td(colspan='3')  
        table#footer(width='100%', border='0', cellspacing='0', cellpadding='0')
          tr
            td
              span.grytextFoot Powered by
              span.whtTextFoot Cisco
            td(style='text-align:right')
              input.inputbutton(type='submit', value='submit')
      input(type='hidden', name='author', value='Customer')
      br
      input(type='hidden', name='title', value='ccx chat')
      br
      input(type='hidden', name='extensionField_h_widgetName123456', value='Web Chat')
      br
      input(type='hidden', name='extensionField_chatLogo', value='http://198.18.133.116/riders/sites/images/logo-rock-cost-small3.png')
      br
      input(type='hidden', name='extensionField_chatWaiting', value='Welcome to Rock Coast Riders, please wait while we connect you with a customer care representative.')
      input(type='hidden', name='extensionField_chatAgentJoinTimeOut', value='All customer care representatives are busy assisting other clients. Please continue to wait or try again later.')
      input(type='hidden', name='extensionField_chatError', value='Sorry, the chat service is currently not available. Please try again later.')
